@import url("./fonts.css");
@import url("./fontello.css");
@import url("./normalize.css");
@import url("./reset.css");
@import url("./form.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 숨김 콘텐츠 */
.sr-only,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
}

/* 기본 스타일 */
html {
  font-size: 10px;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  font-size: 1.4rem;
  background-color: #ccc;
  background-image: url(./images/bg_flower.png),
    linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
  background-repeat: no-repeat, repeat;
  background-position: 50% 0, 0 0;
  /* background: url(./images/bg_flower.png) no-repeat 50% 0, 
    #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%); */
}

a {
  text-decoration: none;
  color: inherit;
}

/* 레이아웃 */

.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  position: relative;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
}

/* 로고 */
.logo {
  /* background: blue; */
  position: absolute;
  top: 45px;
  left: 65px;
  z-index: 10;
}

/* 멤버 링크 모음 */
.member {
  text-align: right;
  padding: 4px 0;
  transform: translateX(8px);
}

.member li,
.member a {
  display: inline-block;
}

.member a {
  padding: 6px 8px;
  text-transform: uppercase;
}

/* 메인 메뉴 */
.navigation {
  padding-bottom: 40px;
}

.menu {
  border-radius: 0 0 5px 5px;
  background: orange;
  padding-left: 232px;
  height: 47px;
  border-top: 2px solid currentColor;
  position: relative;
  background: #ed692d
    linear-gradient(
      to bottom,
      #f29730 0%,
      #ed692d 35%,
      #ed692d 70%,
      #f29730 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.menu-item {
  float: left;
  position: relative;
  border-left: 2px solid #fff;
}

.menu-button {
  line-height: 45px;
  border: 0;
  background: transparent;
  padding: 0 21px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

.is-active .menu-button {
  color: #ff0;
}

.is-active .menu-button::after {
  content: "";
  background: #000;
  display: block;
  height: 2px;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 47px;
  white-space: nowrap;
  padding: 4px 0;
}

.menu-html,
.menu-css,
.menu-standards {
  left: 0;
}

.menu-accessibility,
.menu-qna,
.menu-archive {
  right: 0;
}

.is-active .sub-menu {
  display: block;
}

.sub-menu li,
.sub-menu a {
  display: inline-block;
}

.sub-menu li {
  margin-right: 0.2em;
}

.sub-menu a {
  padding: 6px 8px;
}

.sub-menu a::before {
  content: "\f192";
  font-family: "fontello";
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: "\e800";
}

/* 비주얼 */

@keyframes moveEffect {
  0% {
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.visual {
  height: 120px;
  position: relative;
}

.visual::before,
.visual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation: fadeEffect 2000ms alternate infinite;
}

.visual::before {
  /* background: pink; */
  background-image: url(./images/ani_flower_01.png),
    url(./images/ani_flower_02.png);
  background-position: 0 -10px, 600px 0;
}

.visual::after {
  /* background: yellow; */
  background-image: url(./images/ani_flower_03.png),
    url(./images/ani_flower_04.png);
  background-position: 300px 0, 800px 0;
  animation-delay: 1000ms;
}

.visual-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  animation-name: moveEffect;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  position: relative;
  z-index: 10;
  display: inline-block;
}

/* 메인 콘텐츠 */
.main {
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; */
  background: #fff;
  min-height: 400px;
  padding: 30px 15px;
  border-radius: 15px 15px 0 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.group {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

.group1 {
  width: 250px;
}

.group2 {
  width: 380px;
}

.group3 {
  width: 190px;
}

/* 로그인 */
.login {
  background: #ed552f radial-gradient(circle at right top, #e8852e, #ed552f);
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #aaa;
  padding: 10px;
}

.login-title {
  color: #ff0;
  font-size: 1.5rem;
  font-weight: 700;
  text-indent: 10px;
}

.login-form,
.sign {
  background: #fff;
}

.login-form {
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}

.login-form fieldset {
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom: 4px;
}

.login-form div {
  margin-bottom: 6px;
}

.login-form label {
  display: inline-block;
  width: 4em;
}

.login-form input {
  width: 90px;
  height: 22px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 2px 2px 2px 10px;
}

.login-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 1.3rem;
  color: #fff;
  background: #ed552f;
  border-radius: 2px;
  border: 0;
}

.sign {
  border-radius: 0 0 5px 5px;
  padding: 4px 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1.2rem;
}

.sign a {
  padding: 4px 0;
}

.sign .icon-right-open {
  color: #e85e2c;
}

/* 유효성 검사 배너 */
.validation-list {
  margin-top: 25px;
  /* display: flex;
  flex-flow: column nowrap; */
}

.validation-list li {
  margin-top: 10px;
}

.validation-list a {
  display: block;
  background: url(./images/validation_icon.png) no-repeat 20px 50%,
    linear-gradient(to bottom, #ccc, #eee);
  border: 1px solid #aaa;
  padding: 10px 10px 10px 40px;
  border-radius: 20px;
}

.validation-list a:hover,
.validation-list a:focus {
  color: #f00;
}

/* 웹 관련 용어 */
.term {
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.term-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.term-list {
  margin-top: 15px;
}

.term-list > div {
  margin-top: 10px;
  display: flow-root;
}

.term-list-subject,
.term-list-brief {
  float: right;
  width: 145px;
}

.term-list-subject {
  color: #296897;
  font-weight: 500;
}

.term-list-thumbnail {
  float: left;
}

.term-list-thumbnail img {
  vertical-align: top;
}

.term-list-brief {
  line-height: 1.5;
  margin-top: 5px;
}

.cross .term-list-subject,
.cross .term-list-brief {
  float: left;
}

.cross .term-list-thumbnail {
  float: right;
}

/* 검색 */
.search-form-inner {
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  padding: 15px 25px 10px;
  border: 1px solid #aaa;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.search-form-inner .form-group {
  flex-grow: 1;
  margin-right: 12px;
}

/* 공지사항 및 자료실 */
.board {
  margin-top: 20px;
  position: relative;
  min-height: 180px;
}

.board-tab {
  border: 1px solid #aaa;
  background: #ccc;
  border-radius: 4px 4px 0 0;
  padding: 6px 14px;
  color: #666;
  position: absolute;
  top: 0;
}

.notice-tab {
  left: 0;
}

.archive-tab {
  left: 78px;
}

.is-select .board-tab {
  border-color: currentColor currentColor transparent currentColor;
  color: #ed552f;
  background: #fff;
}

.board-panel,
.board-more {
  display: none;
}

.is-select .board-panel,
.is-select .board-more {
  display: block;
}

.board-panel {
  padding-top: 40px;
}

.board-panel li {
  margin-top: 12px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.board-panel a {
  /* flex-grow: 1; */
  width: calc(100% - 6em);
  margin-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-more {
  position: absolute;
  top: -8px;
  right: -8px;
}

/* 공통 더보기 스타일 */
.more {
  padding: 8px;
}

.more::before {
  color: hsla(110, 50%, 30%, 1);
}

/* 새소식 */
.news {
  margin-top: 20px;
  position: relative;
}

.news::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #aaa linear-gradient(to right, #aaa, #fff);
  top: 35px;
  left: 0;
}

.news-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ed552f;
  /* border-bottom: 1px solid;
  border-image: linear-gradient(to right, #ccc, #fff);
  border-image-slice: 1; */
}

.news-link {
  display: block;
}

.news-item {
  margin-top: 35px;
  padding-left: 130px;
  position: relative;
}

.news-item-title {
  font-weight: 500;
  margin: 5px;
}

.news-item-thumbnail {
  position: absolute;
  top: 2px;
  left: 0;
  text-align: center;
}

.news-item-thumbnail img {
  box-shadow: 0 15px 10px 5px #eee;
}

.news-item-thumbnail figcaption {
  margin-top: 15px;
}

.news-item-brief {
  margin-top: 10px;
  line-height: 1.5;
}

.news-more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}

/* 신규 이벤트 및 관련 사이트 */
.gradient-effect {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
}

.event-title,
.related-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.accent-color {
  color: #ed552f;
}

.event {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}

.event-button-wrapper {
  overflow: hidden;
  height: 22px;
  padding: 2px;
  margin-left: auto;
  transform: translate(2px, -2px);
}

.event-button-wrapper button {
  width: 19px;
  height: 0;
  border: 0 !important;
  background-image: url(./images/back_forward.png);
  background-repeat: no-repeat;
  padding: 18px 0 0 0;
}

.event-button-wrapper button:focus {
  outline-offset: -2px;
}

.event-button-next {
  background-position: -36px 0;
}

.event div:last-child {
  width: 100%;
  margin-top: 10px;
}

.event-thumbnail img {
  box-shadow: 7px 7px 0 0 #aaa;
}

.event-brief {
  margin-top: 12px;
  line-height: 1.5;
}

.related {
  /* background: pink; */
  margin-top: 10px;
}

/* 슬로건 */
.slogan {
  background: lime;
}

/* 푸터 */
.footer {
  background-color: #ccc;
  background-image: linear-gradient(
    to bottom,
    #ccc 0%,
    #eee 35%,
    #fff 70%,
    #fff 100%
  );
}

.footer-inner {
  background: orange;
  height: 15vh;
}
