@import url("./normalize.css");
@import url("./reset.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 숨김 콘텐츠 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
}

/* 기본 스타일 */
html {
  font-size: 10px;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  font-size: 1.4rem;
  background-color: #ccc;
  background-image: linear-gradient(
    to bottom,
    #ccc 0%,
    #eee 35%,
    #fff 70%,
    #fff 100%
  );
}

a {
  text-decoration: none;
  color: inherit;
}

/* 레이아웃 */

.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  position: relative;
  padding: 0 30px;
}

/* 로고 */
.logo {
  /* background: blue; */
  position: absolute;
  top: 45px;
  left: 65px;
}

/* 멤버 링크 모음 */
.member {
  text-align: right;
  padding: 4px 0;
  transform: translateX(8px);
}

.member li,
.member a {
  display: inline-block;
}

.member a {
  padding: 6px 8px;
  text-transform: uppercase;
}

/* 메인 메뉴 */
.navigation {
  padding-bottom: 40px;
}

.menu {
  background: orange;
}

/* 비주얼 */
.visual {
  background: pink;
  height: 120px;
}

/* 메인 콘텐츠 */
.main {
  background: blue;
  min-height: 400px;
  padding: 30px 15px;
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; */
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.group {
  background: silver;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

.group1 {
  width: 250px;
}

.group2 {
  width: 380px;
}

.group3 {
  width: 190px;
}

/* 슬로건 */
.slogan {
  background: lime;
}

/* 푸터 */
.footer {
  background-color: #ccc;
  background-image: linear-gradient(
    to bottom,
    #ccc 0%,
    #eee 35%,
    #fff 70%,
    #fff 100%
  );
}

.footer-inner {
  background: orange;
  height: 15vh;
}
