@import url(./normalize.css);
@import url(./a11y.css);
@import url(./theme.css);
@import url(./base.css);

/* 공통 스타일 */
/* 헤더 */
.appHeader {
  background-color: yellow;
  padding: var(--spacing-base) var(--spacing-lg);
}

/* 내비게이션 */
.appNavigation {
  background-color: pink;
  padding: var(--spacing-base) var(--spacing-lg);
}

/* 메인 콘텐츠 */
.appMain {
  background-color: blue;
  padding: var(--spacing-base) var(--spacing-lg);
}

/* 추천서적 */
.book {
  background-color: yellow;
}

/* 새소식 */
.news {
  background-color: orange;
}

/* 게시판 */
.board {
  background-color: skyblue;
}

/* 인기 사이트 */
.favorite {
  background-color: violet;
}

/* 트위터 */
.twitter {
  background-color: green;
}

/* 푸터 */
.appFooter {
  background-color: lime;
  padding: var(--spacing-xl) var(--spacing-lg);
}

/* 모바일 스타일 */
@media (max-width: 767px) {
  /* 모바일 내비게이션 */
  .appNavigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    transform: translateX(-120%);
  }

  /* 모바일 메인 콘텐츠 */
  .appMain {
    display: flex;
    flex-flow: row wrap;
    gap: var(--spacing-base);
  }

  /* 모바일 메인 콘텐츠 섹션 */
  .book,
  .news,
  .board,
  .favorite,
  .twitter {
    width: 100%;
  }
}

/* 데스크탑 스타일 */
@media (min-width: 768px) {
  /* 데스크탑 헤더 */
  .appHeader {
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
  }

  /* 데스크탑 내비게이션 */
  .appNavigation {
    background-color: var(--secondary-color);
    color: var(--white);
  }

  /* 데스크탑 메인 메뉴 */
  .menu {
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    background-color: tomato;
  }

  /* 데스크탑 메인 콘텐츠 */
  .appMain {
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "news news news news news news news news news news news news"
      "book book book book twitter twitter twitter twitter twitter favorite favorite favorite"
      "book book book book . board board board board board board board";
    gap: var(--spacing-base);
  }

  /* 데스크탑 추천 서적 */
  .book {
    grid-area: book;
  }

  /* 데스크탑 새소식 */
  .news {
    grid-area: news;
  }

  /* 데스크탑 게시판 */
  .board {
    grid-area: board;
  }

  /* 데스크탑 인기 사이트 */
  .favorite {
    grid-area: favorite;
  }

  /* 데스크탑 트위터 */
  .twitter {
    grid-area: twitter;
  }
}
